<%= form_for @request, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t(:name) %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t(:start_date) %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label t(:decision_date) %><br />
    <%= f.date_select :decision_date %>
  </p>
  <p>
    <%= f.label t(:company) %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label t(:characteristics) %><br />
    <%= f.text_area :characteristics %>
  </p>
  <p>
    <%= f.label t(:file) %><br />
    <%= f.file_field :file_upload %>
  </p>
  <p>
    <%= f.label t(:similar_requests) %><br />
    <%= select_tag "request[similar_request_ids][]",
    options_from_collection_for_select(Request.all, "id", "name", @request.similar_requests.map(&:id)),
    :multiple => true %>
  </p>

  <p><%= f.submit t(:register) %></p>
<% end %>
