<% title "Reporte general de desempeño de usuarios" %>

<ul>
  <% for user in @users %>
    <li>
      <strong>Nombre:</strong> <%= user.full_name %> <br />
      <strong>RFPs a cargo (<%= user.requests.count %>):</strong>
      <%= (user.requests.map(&:name)).join(", ") %><br />
      <% unless user.section_roles.empty? %>
        <strong>Porcentaje secciones evaluadas:</strong>
        <%= number_to_percentage( ((user.section_roles.not_pending.count.to_f/user.section_roles.count.to_f)*100).to_i,
        :precision => 0)
            %>
         <br />
        <strong>Porcentaje secciones no evaluadas:</strong>
        <%= number_to_percentage( ((user.section_roles.pending.count.to_f/user.section_roles.count.to_f)*100).to_i,
        :precision => 0)%>
         <br />
      <% end %>
    </li><br />
  <% end %>
</ul>

